/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define MISC 1
#define FUNC 2

&sk {
	// Don't release modifiers when another modifier is pressed.
	ignore-modifiers;
};

&mt {
	// Favor normal letter rolls while retaining deliberate modifier chords.
	flavor = "balanced";
	require-prior-idle-ms = <150>;
	tapping-term-ms = <250>;
	quick-tap-ms = <200>;
};

/ {
	behaviors {
		qt: quick_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "QUICK_TAP";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			tapping-term-ms = <200>;
			quick-tap-ms = <200>;
			bindings = <&kp>, <&kp>;
		};
	};

	macros {
		unstick: unstick {
			label = "ZM_unstick";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp LSHIFT &kp RSHIFT &kp LCTRL &kp RCTRL &kp LALT &kp RALT &kp LGUI &kp RGUI>;
		};
	};

	combos {
		compatible = "zmk,combos";
		// Outer thumb keys provide a fast Escape chord on every layer.
		combo_escape {
			timeout-ms = <200>;
			key-positions = <30 33>;
			bindings = <&kp ESC>;
		};
		// Inner thumb keys provide a static recovery entry for Studio.
		combo_studio_unlock {
			timeout-ms = <200>;
			key-positions = <31 32>;
			bindings = <&studio_unlock>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		base_layer {
			label = "Base";
			bindings = <
			&kp Q &kp W &kp E &kp R &kp T              &kp Y &kp U &kp I &kp O &kp P
			&mt LCTRL A &mt LALT S &mt LGUI D &mt LSHIFT F &kp G  &kp H &mt RSHIFT J &mt RGUI K &mt RALT L &mt RCTRL SEMI
			&kp Z &kp X &kp C &kp V &kp B              &kp N &kp M &kp COMMA &kp DOT &kp FSLH
							&lt MISC TAB &kp SPACE              &kp BSPC &lt MISC ENTER
			>;
		};

		misc_layer {
			label = "Misc";
			bindings = <
			&kp N1 &kp N2 &kp N3 &kp N4 &kp N5             &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
			&kp LCTRL &kp LALT &kp LGUI &kp LSHIFT &kp SQT  &kp HOME &kp RSHIFT &kp RGUI &kp RALT &kp RCTRL
			&kp LBKT &kp RBKT &kp MINUS &kp EQUAL &kp GRAVE  &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp BSLH
							&kp ESC &mo FUNC                 &kp END &kp ESC
			>;
		};

		func_layer {
			label = "Func";
			bindings = <
			&kp F1 &kp F2 &kp F3 &kp F4 &kp F5               &kp F6 &kp F7 &kp F8 &kp F9 &kp F10
			&kp LCTRL &kp LALT &kp LGUI &kp LSHIFT &kp F11       &kp F12 &kp RSHIFT &kp RGUI &kp RALT &kp RCTRL
			&none &kp C_MUTE &kp C_VOLUME_DOWN &kp C_VOLUME_UP &none  &kp PRINTSCREEN &kp C_BRIGHTNESS_INC &kp C_BRIGHTNESS_DEC &kp C_BRIGHTNESS_MAXIMUM &none
							&none &none                   &none &none
			>;
		};
	};
};
